/*Resetar bordinha chata do browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*Cabeçalho*/
header {
    background-color: #BFA588;
    height: 100px;
    width: 100%;
}

header h1, header h2, header img {
    margin-top: auto;
    margin-bottom: auto;
}

#titulo {
    font-family: 'Playfair Display', serif;
    color: #552723;
    display: inline;
}

header img{
    line-height: 100px;
    height: 88px;
    float: left;
}

header h1{
    float: left;
}

header h2{
    float: right;
}

#dropdown {
    height: 15px;
    float: right;
}

#userpic {
    border-radius: 50%;
    float: right;
}

.interface {
    font-family: 'Inter', Helvetica, sans-serif;
    color: #552723;
}

hr{
    border: none;
    height: 3px;
    background-color: #552723;
}