/*Resetar bordinha chata do browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/*geralzão*/  
:root{
    --marrom-claro: #BFA588;
    --marrom-escuro: #552723;
    --marrom-card: #7B533E; 
    --user-card: #604847;
    --letra-poema: #FFE6CA;
}

body{
    background-color: var(--marrom-claro);
}

/*Cabeçalho*/
header {
    height: 100px;
    width: 100%;
    display: flex;
}

.containerh1, .containerh2{
    width: 50%;
    display: flex;
    align-items: center;
}

.containerh2{
    justify-content: flex-end;
}

#titulo {
    font-family: 'Playfair Display', serif;
    color: var(--marrom-escuro);
}

#logo{
    height: 85px;
    margin-left: 8%;
    margin-right: 32px;
}

header h1{
    font-size: 36px;
}

header h2{
    margin-right: 8px;
    margin-left: 26px;
}

#dropdown {
    height: 9px;
    margin-right: 8%;
}

#userpic {
    height: 70px;
    border-radius: 50%;
}

.interface {
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--marrom-escuro);
}

hr{
    border: none;
    height: 3px;
    background-color: var(--marrom-escuro);
}

/* Banner */

.banner{
    display: flex;
    font-size: 30px;
    margin: 34px 0;
    justify-content: flex-end;
}

.banner a{
    margin-left: 26%;
    margin-right: 7%;
    display: flex;
    align-items: center;
}

a img{
    width: 36px;
    height: 36px;
}

/* Feed */

.containerfeed{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.containerfeed img{
    height: 36px;
}

.publiAlguem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 255px;
    height: 490px;
    background-color: var(--marrom-card);
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.publiAlguem h2, .publiUsuario h2{
    font-weight: 500;
    font-size: 30px;
}

.publiAlguem h2, .publiAlguem p, .publiUsuario h2, .publiUsuario p{
    font-family: 'Playfair Display', serif;
    color: var(--letra-poema);
}

.publiAlguem p, .publiUsuario p{
    font-size: 19px;
    font-weight: 100;
}

.tituloCard{
    margin-bottom: 15px;
}

.containerAssinatura{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 18px;
}

.poemaCard{
    align-items: center;
    padding: auto 0;
    white-space: inherit;
}

.poemaCard:first-child{
    margin-top: 30px;
}

.poemaCard p{
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.publiUsuario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 255px;
    height: 490px;
    background-color: var(--user-card);
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.publiAlguem, .publiUsuario{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.349);
}